registry=http://172.31.17.98:8081/repository/npm-hosted/

//172.31.17.98:8081/repository/npm-hosted/:_auth=YWRtaW46YWRtaW4=
//172.31.17.98:8081/repository/npm-hosted/:always-auth=true
//172.31.17.98:8081/repository/npm-hosted/:email=admin@local
